h1 {
  font-family: "Optima", sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 175%;
}

<!-- Setting media queries ->
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }
}

section {
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

div {
  font-family: "Optima", sans-serif;
  background: #c9c9c9;
  border: 1px solid black;
}

section div {
  position: relative;
  padding: 10px;
  padding-top: 40px;
}

<!-- positioning each section title at top right corner -->
section div div {
  font-size: 125%;
  width: 20%;
  padding: 5px;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

<!-- Setting background colors of each section title -->
#title1 {
  background: #d2c2f0;
}

#title2 {
  background: #c2e6f0;
}

#title3 {
  background: #def0c2;
}
